h1 {
	font-style: normal;
	font-size: 30px;
	font-family: 'Proxima Nova', Georgia, sans-serif;
	text-align: center;
	color: #101010;
}

h2 {
	font-style: normal;
	font-size: 30px;
	font-family: 'Proxima Nova', Georgia, sans-serif;
	text-align: center;
	color: #101010;
	margin-top: 12%;
}

p {
	font-style: normal;
	font-size: 15px;
	font-family: 'Proxima Nova', Georgia, sans-serif;
	text-align: center;
	color: #101010;
}

.parallax {
    /* The image used */
    background-image: url(./sexy_seeds_background.jpg);

    /* Set a specific height */
    min-height: 90%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pageTitle {
	font-size: 45px;
	margin-top: 0px;
	margin-bottom: 50px;
}

.row {
	width: 100%;
	margin-left: -15px;
	margin-right: -15px;
}

.infobox {
	width: 24%;
	min-width: 200px;
	max-width: 500px;
	min-height: 400px;
	margin-right: 5px;
	margin-left: 5px;
	float: left;
	background-color: rgba(255, 255, 255, .7);
}

.infoboxtext {
	margin-top: 25%
}

.silverOutline {
	border-color: #C8C8C8;
	border-width: 6px;
	border-style: solid;
}